* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Noto Sans, sans-serif;
    background-color: #f6f8fa;
}

/* Start Nav */
.nav {
    display: grid;
    min-height: 4rem;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: #24292f;
    color: #fff;
}

.logo {
    display: grid;
    align-items: center;
    padding-left: 1.5rem;
    font-family: Rubik, sans-serif;
    cursor: pointer;
}

.nav{
    transition: 0.3 all ease;
}

.nav__items {
    display: grid;
    justify-content: right;
    grid-template-columns: repeat(3, minmax(min-content, 100px));
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    font-weight: 500;
    padding-right: .5rem;
}

a {
    color: black;
    cursor: pointer;
    text-decoration: none;
    padding: 0.25rem;
    border-radius: 4px;
    color: #fff;
}

a:hover {
    color: rgb(221, 221, 221);
}

.hamburger{

}

.first-bar{

}

.second-bar{

}

.third-bar{

}
/* End Nav */


/* Start Content */
.wrapper {
    display: grid;
    align-items: center;
    justify-items: center;
}

#particles-js {
    background-color: #051427;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 4rem;
    z-index: -10;
}

.home__wrapper{
    display: grid;
    grid-template-columns: 1 / 1fr;
}

.content__display{
    position: absolute;
    top: 33%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* This is a shorthand oftranslateX(-50%) and translateY(-50%) */
    animation: glow1 2s ease-in-out infinite alternate;
}

.content__text{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
    animation: glow2 2s ease-in-out infinite alternate;
}

.content__text h1{
    color: #C6B9CD;
}

.content__btn button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Noto Sans, sans-serif;
    height: 30px;
    width: 90px;
    border-radius: 50px;
    border: none;
    background-color: #0096FF;
    animation: hover 2s ease-in-out infinite alternate;
    cursor: pointer;
}

  @-webkit-keyframes glow1 {
    from {
      text-shadow: 0 0 100px #fe7f2d;
    }
    to {
      text-shadow: 0 0 50px #fe7f2d;
    }
  }

  @-webkit-keyframes glow2 {
    from {
      text-shadow: 0 0 200px #fe7f2d;
    }
    to {
      text-shadow: 0 0 100px #fe7f2d;
    }
  }

  @-webkit-keyframes hover {
    from {
      top: 65%;
    }
    to {
        top: 66%;
    }
  }

.logo__home{
    color: #fff;
    font-size: 60px;
    
}